.searchBar {
  background-color: var(--tertiary);
  color: var(--font-color-light);
  padding: 3rem 1rem 1rem;
  display: flex;
  flex-direction: column;
}

.searchTitle {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  margin: 2rem 0;
}

.buttonContainer {
  width: 100%;
  margin: 1rem 0rem;
}
.searchBarForm {
  justify-content: space-evenly;
  align-items: center;
}

section:nth-child(2) {
  margin-top: 1rem;
}

/*---------  RESPONSIVE ---------*/

/* tablet version */
@media screen and (min-width: 481px) {
  .searchBar {
    background-color: var(--tertiary);
    color: var(--font-color-light);
    padding: 2rem 3rem 2.5rem;
    display: flex;
    flex-direction: column;
  }

  .searchBarForm {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    gap: 1rem;
  }

  .buttonContainer {
    width: 30%;
  }

  section:nth-child(2) {
    margin-top: 0rem;
  }
}

@media screen and (min-width: 769px) {
  .searchBar {
    padding: 2rem 10rem 2.6rem;
  }

  .searchTitle {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4.2rem;
    margin: 2rem 0;
  }
}
