.container {
  height: 73.6rem;
  width: 100%;
  display: flex;
  margin: auto;
  background: var(--background-color-body);
}

.register_acount {
  flex-direction: column;
  text-align: center;
  width: 39rem;
  height: 4rem;
}

.heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 70rem;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: var(--primary);
  margin-bottom: 0.9rem;
  margin-top: 3.2rem;
  text-align: center;
}

.div_Container_Labels {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-left: 5.5rem;
  margin-bottom: 1.6rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 50rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: var(--secundary);
  position: relative;
}
.caja_name {
  margin-bottom: 0rem;
}

.margen {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 0;
  margin-left: 5.5rem;
  margin-bottom: 1.6rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 50rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: var(--secundary);
}

.input_size {
  height: 4rem;
  width: 30rem;
  border-radius: 0.5rem;
  border-width: 0;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  margin-top: 0.1rem;
  font-size: 1.2rem;
}

.input_size_name {
  width: 30rem;
  margin-top: 1rem;
  height: 4rem;
  border-radius: 0.5rem;
  border-width: 0;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  font-size: 1.2rem;
}

.span {
  margin-top: 2rem;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.link {
  color: blue;
}

.requiredFieldText {
  display: flex;
  justify-content: flex-end;
  color: red;
}

.eyeIcon {
  top: 2rem;
  position: absolute;
  font-size: 2.2rem;
  z-index: 10;
  cursor: pointer;
  left: 27rem;
  padding-top: 0.5rem;
}

.errorMsg {
  font-size: 1.5rem;
  color: rgb(187, 8, 8);
  width: 100%;
}

.successMsg {
  font-size: 1.5rem;
  width: 100%;
  margin-left: 0.5rem;
}

.warnIcon {
  font-size: 2rem;
  margin-right: 0.5rem;
}

/* tablet version */
@media screen and (min-width: 481px) {
  .container {
    justify-content: center;
  }

  .div_Container_Labels {
    margin-left: 4rem;
  }
  .caja_name {
    margin-bottom: 1rem;
  }

  .margen {
    margin-left: 4rem;
  }

  /* .eyeIcon {
    left: 40rem;
    padding-top: 1.5rem;
  } */
}

/* desktop version */
@media screen and (min-width: 769px) {
  .login_acount {
    width: 55rem;
  }

  .heading {
    margin-top: 13.8rem;
    margin-bottom: 3rem;
  }

  .div_Container_Labels {
    margin-bottom: 2rem;
    margin-left: 0.5rem;
  }

  .caja_name {
    width: 100%;
    text-align: left;
    display: flex;
    margin: 0rem 0rem 1.6rem 0rem;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 50rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: var(--secundary);
  }
  .margen {
    margin-left: 1rem;
  }

  .input_size {
    width: 44.8rem;
    margin-top: 1rem;
  }

  .input_size_name {
    width: 21.8rem;
  }

  .span {
    margin-top: 5rem;
    margin-bottom: 10rem;
  }

  .eyeIcon {
    left: 40rem;
    padding-top: 1.5rem;
  }
}
